openapi: 3.1.0

servers:
  - url: https://monitoring-api.muscreators.com
    description: Default server

info:
  version: 1.0.0
  title: Media Monitoring API
  description: Subscribe to keywords and receive notification when the news with this keywords will be published
  contact:
    name: API Support
    email: konstantin@muscreators.com

components:
  schemas:
    Mention:
      type: object
      properties:
        subscriptionId:
          type: string
          example: eb079fa5-d14c-4743-bdda-314032ae04ce
        url:
          type: string
          format: uri
          example: https://news.com/category/subject

    Settings:
      type: object
      properties:
        suspended:
          type: boolean
          example: true
        webhook:
          type: string
          format: uri
          example: https://myserver.com/send/callback/here

    SubscriptionInput:
      type: object
      properties:
        keywords:
          type: array
          description: Case-insensitive keywords to filter news
          items:
            type: string
    
    Subscription:
      allOf:
      - type: object
        properties:
          id:
            type: string
            example: eb079fa5-d14c-4743-bdda-314032ae04ce
      - $ref: '#/components/schemas/SubscriptionInput'
  
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: X-API-KEY  # name of the header, query parameter or cookie

security:
  - ApiKeyAuth: []

paths:
  /settings:
    get:
      summary: Retrieve current settings
      responses:
        '200':
          description: A settings object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
    patch:
      summary: Update current settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settings'
      responses:
        '200':
          description: Settings updated
  
  /subscriptions:
    get:
      summary: List subscriptions
      responses:
        '200':
          description: Active subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              examples:
                one keyword:
                  value:
                    id: eb079fa5-d14c-4743-bdda-314032ae04ce
                    createdAt: '2021-11-11T21:20:53.074Z'
    post:
      summary: Create a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionInput'
            examples:
              one keyword:
                value:
                  keywords: ['Santa Claus']
              multiple keywords:
                value:
                  keywords: ['Christmas', 'Santa Claus']
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              examples:
                one keyword: 
                  value:
                    id: eb079fa5-d14c-4743-bdda-314032ae04ce
                    createdAt: '2021-11-11T21:20:53.074Z'
  
  /subscriptions/{subscriptionId}:
    delete:
      summary: Delete subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Subscription id to delete
          schema:
            type : string
            example: eb079fa5-d14c-4743-bdda-314032ae04ce
      responses:
        '204':
          description: Subscription deleted
webhooks:
  newPost:
    post:
      security: []
      summary: New mention
      description: Information about a new mention for subscribed keywords.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Mention"
      responses:
        "200":
          description: Return a 200 status to indicate that the data was received successfully